@page "/tools/colorpicker"
@using MudBlazor
@inject Services.ClipboardService clipboardService
@inject ISnackbar snackbar

<PageTitle>Color Picker</PageTitle>

<div class="d-flex flex-column justify-center align-center" style="height: 100vh;">
    <MudPaper Class="p-12 mx-auto d-flex flex-column justify-center align-center" MaxWidth="900px" Style="width: 100%;" Elevation="4">

        <MudText Typo="Typo.h3" Align="Align.Center" Class="my-3">
            Pick a color 🎨
        </MudText>

        <MudColorPicker @bind-Text="color_value" DisableAlpha="false" Class="mb-8" Placeholder="Select Color" ColorPickerMode="ColorPickerMode.HEX" />

        <div class="color-preview mb-8" style="background-color:@color_value;">
            DEVTOOLSHUB
        </div>

        <MudButton Variant="Variant.Filled" Class="my-4" Size="Size.Large" OnClick="CopyColorToClipboard" Color="Color.Secondary">
            COPY TO CLIPBOARD
        </MudButton>

    </MudPaper>
</div>

<style>
    .color-preview {
        
        height: 250px;
        border-radius: 20px;
        background-color: #2196F3;
  
        font-size: 48px;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        transition: background-color 0.4s ease; /* smoother color change */
        letter-spacing: 2px; /* slight spacing between letters */
    }


    }
</style>

@code{

    private string color_value;

    private async Task CopyColorToClipboard()
    {

        await clipboardService.CopyToClipboard(color_value);
        this.snackbar.Add(message: "Color copied to clipboard!", severity: Severity.Success);

    }
}